.auth-form {
    display:flex;
    flex-direction:column;
    justify-content:space-between;
    align-items:center;
    margin-top: 20%;
}

.auth-form input {
    background:transparent;
    border:1px solid #FDFFFC;
    padding: 20px 120px 25px 10px;
    margin:5px;
    color: rgb(255, 222, 234);
    font-size:15px;
    width: 200px;
    font-family: 'Montserrat Alternates', sans-serif;
}

::placeholder {
    color: rgba(163,117,133,1);
}

.auth-form input:focus {
    outline: none;
}

.auth-form input::placeholder {
    color:#FDFFFC;
}

.submit-btn:hover {
    background: rgba(163,117,133,1);
    color: white;
}

.link {
    font-family: 'Montserrat Alternates', sans-serif;
    color: white;
    font-size: 12px;
}
