.auth-form {
    display:flex;
    flex-direction:column;
    justify-content:space-between;
    align-items:center;
    margin-top: 12%;
}

.auth-form input {
    background:transparent;
    border:1px solid #BDC3C7;
    padding: 20px 120px 25px 10px;
    margin:5px;
    color: #FF5722;
    font-size: 20px;
    width: 290px;
    font-family: 'Montserrat Alternates', sans-serif;
}

.error {
    color: #ef4141;
    font-size: 24px;
}

.notice {
    width: 25%;
    color: #BDC3C7;
    font-size: 18px;
    margin-bottom: 5px;
}

::placeholder {
    color: #FF5722;
}

.auth-form input:focus {
    outline: none;
}

.auth-form input::placeholder {
    color: #BDC3C7;
}

.submit-btn:hover {
    background: #374140;
    color: #BDC3C7;
}

.link {
    font-family: 'Montserrat Alternates', sans-serif;
    color: #BDC3C7;
    font-size: 18px;
}
