.message {
    color: dimgray;
    background-color: rgba(105, 105, 105, 0.03);
    margin-left: 10px;
    display: grid;
    grid-template-rows: 1fr 2fr 1fr ;
    grid-template-areas:
            "user_name"
            "msg"
            "time"
}

.name {
    grid-area: user_name;
    font-size: 18px;
}

.msg {
    grid-area: msg;
    font-size: 26px;
    color: #2A2C2B;
}

.time {
    grid-area: time;
    font-size: 18px;
}
