.dropbtn {
    color: #FF5722;
    padding: 16px;
    font-size: 32px;
    border: none;
    cursor: pointer;
    background-color: transparent;
}

.dropdown {
    position: relative;
    display: inline-block;
    float: left;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #fbfbfb;
    min-width: 100px;
    z-index: 1;
}

.dropdown-content div {
    color: #FF5722;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    font-size: 20px;
}

.dropdown-content div:hover {background-color: #f1f1f1}

.dropdown:hover .dropdown-content {
    display: block;
}
