.main {
    background-image: url("img/back.png");
    background-size: cover;
    background-repeat: no-repeat;
    width: 100vw;
    height: 100vh;
}

.hover-main {
    background-color: rgba(255, 255, 255, 0.3);
    display: inline-block;
    width: 100vw;
    height: 100vh;
}

.center {
    position: absolute;
    margin: 10% 60% 25%;
    width: 50%;
    height: 25%;
    transform: translate(-50%, -50%);
}

.name {
    font-family: 'Permanent Marker', sans-serif;
    color: #FDFFFC;
    font-size: 36px;
    margin-bottom: 20%;
    margin-left: 20%;
    border-bottom: 2px dotted #FDFFFC;
    width: 22%;
    text-align: center;
}

.left {
    font-family: 'Permanent Marker', sans-serif;
    color: #FDFFFC;
    font-size: 24px;
    background-color: rgba(172, 204, 208, 0.75);
    padding: 5px;
    margin-left: 50%;
    width: 50%;
    border-radius: 25px;
}

.left:hover {
    font-size: 26px;
}

.left-writing {
    font-family: 'Permanent Marker', sans-serif;
    color: #FDFFFC;
    font-size: 20px;
    padding: 5px;
    margin-left: 50%;
    width: 50%;
}

.right {
    font-family: 'Permanent Marker', sans-serif;
    color: #FDFFFC;
    font-size: 24px;
    background-color: rgba(193, 125, 214, 0.75);
    padding: 5px;
    margin-left: -50%;
    width: 50%;
    border-radius: 25px;
}

.right:hover {
    font-size: 26px;
}
