* {
    margin: 0;
    padding: 0;
}

.main {
    background: rgb(42,34,34);
    background: linear-gradient(180deg, rgba(42,34,34,1) 0%, rgba(112,36,74,1) 35%, rgba(163,117,133,1) 100%);
    background-size: cover;
    background-repeat: no-repeat;
    width: 100vw;
    height: 100vh;
}

.hover-main {
    display: inline-block;
    width: 100vw;
    height: 100vh;
}

.center {
    position: absolute;
    margin: 10% 60% 25%;
    width: 50%;
    height: 25%;
    transform: translate(-50%, -50%);
}

.app_name {
    font-family: 'Montserrat Alternates', sans-serif;
    font-size: 36px;
    margin-bottom: 20%;
    margin-left: 20%;
    border-bottom: 2px dotted rgba(163,117,133,1);
    width: 22%;
    text-align: center;
    color: rgba(163,117,133,1);
}

.left {
    font-family: 'Montserrat Alternates', sans-serif;
    color: rgba(163,117,133,1);
    font-size: 24px;
    background-color: rgba(255, 255, 255, 0.75);
    padding: 5px;
    margin-left: 50%;
    margin-bottom: 5%;
    width: 50%;
    border-radius: 25px;
    border: 1px solid rgba(255, 255, 255, 0.8);
}

.left:hover {
    font-size: 26px;
}

.left-writing {
    font-family: 'Montserrat Alternates', sans-serif;
    color: rgba(163,117,133,1);
    font-size: 20px;
    padding: 5px;
    margin-left: 50%;
    width: 50%;
}

.right {
    font-family: 'Montserrat Alternates', sans-serif;
    color: rgba(163,117,133,1);
    font-size: 24px;
    background-color: rgba(255, 255, 255, 0.75);
    padding: 5px;
    margin-left: -40%;
    width: 50%;
    border-radius: 25px;
    border: 1px solid rgba(255, 255, 255, 0.8);
}

.right:hover {
    font-size: 26px;
}
