* {
    margin: 0;
    padding: 0;
}

.main {
    background-color: #2A2C2B;
    background-size: cover;
    width: 100vw;
    height: 100vh;
}

.hover-main {
    display: inline-block;
    width: 100vw;
    height: 100vh;
}

.center {
    position: absolute;
    margin: 10% 60% 25%;
    width: 50%;
    height: 25%;
    transform: translate(-50%, -50%);
}

.app_name {
    font-family: 'Montserrat Alternates', sans-serif;
    font-size: 44px;
    margin-bottom: 25%;
    margin-left: 20%;
    border-bottom: 2px dotted #FF5722;
    width: 26%;
    text-align: center;
    color: #FF5722;
}

.left {
    font-family: 'Montserrat Alternates', sans-serif;
    color: #BDC3C7;
    font-size: 24px;
    padding: 5px;
    margin-left: 50%;
    margin-bottom: 5%;
    width: 50%;
    border-radius: 25px;
    border: 1px solid rgba(189, 195, 199, 0.7);
}

.left:hover {
    font-size: 30px;
}

.left-writing {
    font-family: 'Montserrat Alternates', sans-serif;
    color: #BDC3C7;
    font-size: 20px;
    padding: 5px;
    margin-left: 50%;
    width: 50%;
}

.right {
    font-family: 'Montserrat Alternates', sans-serif;
    color: #BDC3C7;
    font-size: 24px;
    padding: 5px;
    margin-left: -40%;
    width: 50%;
    border-radius: 25px;
    border: 1px solid rgba(189, 195, 199, 0.7);
}

.right:hover {
    font-size: 30px;
}
