.container {
    height: 100vh;
    width: 100vw;
    font-family: 'Montserrat Alternates', sans-serif;
    font-size: 20px;

    display: grid;
    grid-template-columns: 2fr 5fr;
    grid-template-rows: 1fr 1fr 2fr 2fr 1fr 8fr;
    grid-template-areas:
            "NavBar NavBar"
            "user chat_name"
            "user chat"
            "find chat"
            "find chat"
            "contacts chat"
}

.item-extra {
    grid-area: NavBar;
}

.item-extra a {
    display: block;
    color: rgba(163,117,133,1);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    float: right;
}

.item-extra a:hover {
    color: #ffffff;
    font-size: 26px;
}

.item-a {
    grid-area: user;
    margin:5px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

.item-b {
    grid-area: contacts;
    overflow-y: scroll;
}

.item-c {
    grid-area: chat;
    background-color: white;
    color: rgba(163,117,133,1);
}

.item-f {
    grid-area: find;
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

.item-d {
    grid-area: chat_name;
    background-color: white;
    border-bottom: 3px solid rgba(163, 117, 133, 0.4);
}

.item-d input {
    font-size: 22px;
    width: 20%;
    height: 50%;
    margin-left: 40%;
    text-align: center;
    vertical-align: middle;
}

.text {
    color: #FDFFFC;
    margin-top: 2%;
    margin-bottom: 2%;
}

.add-group {
    border: 1px solid rgba(163,117,133,1);
    padding: 1% 1% 1% 1%;
}

.contact {
    background-color: rgba(163,117,133,1);
    border-radius: 25px;
    width: 50%;
    padding-left: 5%;
    padding-top: 2%;
    padding-bottom: 2%;
    text-align: left;
}

.contact:hover {
    padding: 3% 5% 2% 1%;
    font-size: 22px;
}

.macro {
    color: rgb(207, 150, 169);
    font-size: 30px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

input {
    background:transparent;
    border:1px solid transparent;
    width: 70%;
    margin:5px;
    color: #ffffff;
    font-size:15px;
    font-family: 'Montserrat Alternates', sans-serif;
}

input:hover {
    outline: none;
}

textarea {
    background:transparent;
    border:1px solid transparent;
    margin:5px;
    width: 90%;
    color:#FDFFFC;
    font-size:15px;
    font-family: 'Montserrat Alternates', sans-serif;
    resize: none;
}

textarea:hover {
    outline: none;
}

.msg {
    background:transparent;
    border:1px solid transparent;
    margin:5px;
    width: 95%;
    color:#FDFFFC;
    font-size:15px;
    font-family: 'Montserrat Alternates', sans-serif;
    resize: none;
}

.msg:focus {
    outline: none;
}

.ready_msg {
    background-color: rgb(207, 150, 169);
    border:1px solid transparent;
    border-radius: 25px;
}

